
#largecircle {
  border-radius: 50%;
  height: 700px;
  width: 700px;
  position: relative;
  border-style: solid;
  border-width: 15px;
  margin: auto;
  margin-top: 70px;
}

#section1 {
  position: absolute;
  height: 350px;
  width: 350px;
  border-radius: 350px 0 0 0;
  top: 50%;
  left: 50%;
  margin: -350px 0px 0px -350px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;  
}

#section2 {
  position: absolute;
  height: 350px;
  width: 350px;
  border-radius: 0 350px 0 0;
  top: 50%;
  left: 50%;
  margin: -350px 0px 0px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
}

#section3 {
  position: absolute;
  height: 350px;
  width: 350px;
  border-radius: 0 0 0 350px;
  top: 50%;
  left: 50%;
  margin: 0px -350px 0px -350px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
}

#section4 {
  position: absolute;
  height: 350px;
  width: 350px;
  border-radius: 0 0 350px 0;
  top: 50%;
  left: 50%;
  margin: 0px 0px -350px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
}

#smallcircle {
  position: absolute;
  border-radius: 50%;
  height: 350px;
  width: 350px;
  border-style: solid;
  border-width: 10px;
  top: 50%;
  left: 50%;
  margin: -175px 0px 0px -175px;
  box-sizing: border-box;
}

